:host{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-row: repeat(3, 1fr);
  h1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}